<h1>Home</h1>
<p onclick="testEvent();" ref="testing">
    <span ref="testing">
        This is a test: {{=it.id ? it.id : 'N/A'}}
    </span>
    <button onclick="buttonClick();">Push</button>

    <example-element />
    <example-element data-text="From an attribute with ID: {{=it.id ? it.id : 'No ID given'}}" />
</p>